openapi: 3.1.0
info:
  title: Crowdin REST API v2 Files Projects API
  description: 'Crowdin localization platform REST API v2 for managing projects, files,

    source strings, string translations, glossaries, screenshots, and

    webhooks. Endpoint inventory drawn from

    https://support.crowdin.com/developer/api/v2/. Enterprise customers can

    use a per-tenant base URL like https://{domain}.api.crowdin.com/api/v2.

    '
  version: '2.0'
  contact:
    name: Crowdin Developers
    url: https://support.crowdin.com/developer/api/v2/
servers:
- url: https://api.crowdin.com/api/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Projects
paths:
  /projects:
    get:
      summary: List projects
      operationId: listProjects
      tags:
      - Projects
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      responses:
        '200':
          description: Projects
    post:
      summary: Add project
      operationId: addProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                sourceLanguageId:
                  type: string
                targetLanguageIds:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
  /projects/{projectId}:
    get:
      summary: Get project
      operationId: getProject
      tags:
      - Projects
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Project
    patch:
      summary: Edit project
      operationId: editProject
      tags:
      - Projects
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Updated
    delete:
      summary: Delete project
      operationId: deleteProject
      tags:
      - Projects
      parameters:
      - in: path
        name: projectId
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PAT
      description: Personal Access Token or OAuth 2 bearer token
